body {
  text-align: center;
  font-family: Helvetica;
}

header {
    color: white;
    background-image: url('../images/the-flatiron-building.png');
}

header p {
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}
a {
  color: white;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

.subhead h3, .portfolio h3, .team h3, .contact h3 {
  font-size: 23px;
  font-weight: bold;
}

.subhead p, .portfolio p, .team p, .contact p {
  font-size: 14px;
}

.bgimg {
  background-image: url('../images/the-flatiron-building.png');
  font-size: 23px;
  font-weight: bold;
  color: white;
}

footer {
  background-color: gray;
  color: white;
  text-align: left;
}

span {
  font-size: 11px;
}
